/* Importando a fonte */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Estilo do fundo e das estrelas */
body {
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Evita rolagem horizontal indesejada */
}

.estrelas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.estrela {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    animation: twinkling 2s infinite, moveStar 30s linear infinite;
}

@keyframes twinkling {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes moveStar {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(50px, 50px);
    }
    100% {
        transform: translate(0, 0);
    }
}

/* Estilo da nave */
.nave {
    position: fixed; /* Muda para 'fixed' para mantê-la no fundo da página */
    bottom: 20px; /* Mantém a nave 20px acima do fundo da tela */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid #FFD700;
    transition: left 0.1s linear; /* Adiciona uma transição suave para o movimento */
}

@keyframes moverNave {
    0% { transform: translateX(-50%) translateY(0); }
    50% { transform: translateX(-50%) translateY(-30px); }
    100% { transform: translateX(-50%) translateY(0); }
}

/* Estilo dos tiros */
.tiro {
    position: fixed; /* Muda para 'fixed' para mantê-la no fundo da página */
    bottom: 20px; /* Mantém a nave 20px acima do fundo da tela */
    width: 2px;
    height: 10px;
    background-color: #FF0066;
    animation: moverTiro 2s linear infinite;
}

@keyframes moverTiro {
    0% {
        bottom: 50px;
        opacity: 1;
    }
    100% {
        bottom: 100%;
        opacity: 0;
    }
}

/* Estilo do alien */
.alien {
    position: absolute;
    top: 0;
    left: -5%; /* Começa fora da tela à esquerda */
    animation: moverAlien 40s linear infinite;
    width: 70px;
    height: 100px;
}

@keyframes moverAlien {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(calc(100vw + 60px)); /* Move o alien para fora da tela à direita */
    }
    100% {
        transform: translateX(0); /* Volta à posição inicial */
    }
}

/* Estilo geral da página */
.container {
    text-align: center;
    padding-top: 50px;
    z-index: 1;
    position: relative;
    overflow-y: auto; /* Habilita rolagem vertical quando necessário */
    padding-bottom: 80px; /* Espaço para o conteúdo do final */
}

.title {
    margin-bottom: 20px;
    font-size: 3em;
    color: #FFD700;
    text-shadow:
            4px 4px 0 #FF0066, /* Sombra rosa */
            8px 8px 0 #000;    /* Sombra preta */
}

input[type="text"] {
    width: 60%;
    margin-top: 20px;
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
    border: 2px solid #FFD700;
    background-color: black;
    color: #00FF00;
    border-radius: 5px;
    outline: none;
}

input[type="text"]::placeholder {
    color: #9d8c2f;
    font-size: 1.2rem;
    user-select: none;
}

.results {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 0 10px;
}

.sn-card {
    background-color: #666; /* Cor cinza similar à fita */
    border: 2px solid #333; /* Bordas escuras para dar profundidade */
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    color: #FFF;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    height: 290px; /* Altura aproximada de uma fita de SNES */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sn-image img {
    width: 100%;
    height: auto;
    max-height: 190px;
    object-fit: cover;
    margin-bottom: 5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 0px 6px 0px black;
}

.sn-label {
    background-color: #333; /* Cor da parte do rótulo */
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px black;
}

.sn-label h3 {
    margin: 5px 0;
    font-size: 1em;
    color: #FFD700; /* Cor dourada do texto */
}

.sn-label p {
    font-size: 0.8em;
    color: #FFF;
    margin: 0;
}

.sn-card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 15px;
    background-color: #333;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.sn-card:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15px;
    background-color: #333;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Estilo do botão de reiniciar */
.restart-button {
    position: fixed;
    top: 20px;
    right: 50px;
    width: 90px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 65px;
    cursor: pointer;
    z-index: 1000; /* Garante que a imagem fique acima de outros elementos */
    display: none; /* Inicialmente escondida */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.restart-button:hover {
    transform: translateY(5px); /* Eleva a imagem 5px para baixo */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra para o efeito de lift */
}

.footer{
    position: fixed;
    bottom: 40px;
    right: 0;
    width: 20%;
    padding: 10px;
    font-size: 0.4em;
}

#github-link{
    color: #3fe0ff;
    text-decoration: none;
}